
body {
  background: #141414;
  color: #f0f0f0;
  font: normal 16px Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #333333;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

figure {
  padding: 0 0 30px 0;
  margin: 0;
}

figure img {
  border: 15px solid #ffffff;
  box-sizing: border-box;
}

figcaption {
  padding: 10px 0 0 0;
}

ul {
  padding: 0;
  font-size: 0;
  margin: 0 -15px;
}

li {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 15px;
}

li img {
  border: 3px solid white;
}

@media screen and (max-width: 899px) {
  li { 
    width: 33.3333%;
  }
}

@media screen and (max-width: 599px) {
  li { 
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  main {
    max-width: 100%;
  }
  
  figure {
    display: inline-block;
    width: 950px;
    float: left;
    margin-right: 50px;
    vertical-align: top;
  }
  
  ul {
    overflow: hidden;
  }
  
  li {
    width: 100%;
  }
  
}


